<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>La nueva rosa - View</title>
</head>
<body>
    <h2>Productos del Restaurante</h2>
    
    <table border="1" align="center">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Restaurante</th>
            </tr>
        </thead>
        <tbody>
            {% for x in productos_rosa %}
            <tr>
                <td>{{ x.nombre_producto }}</td>
                <td>{{ x.descripcion_producto }}</td>
                <td>{{ x.precio_producto }}</td>
                <td>{{ x.cantidad }}</td>
                <td>{{ x.nombre_restaurante }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'login' %}"><button>Salir</button></a>
</body>
</html>
