<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos del Restaurante</title>
</head>
<body>
    <h2>Productos del Restaurante</h2>
    
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Restaurante</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos_quanxi %}
            <tr>
                <td>{{ producto.nombre_producto }}</td>
                <td>{{ producto.descripcion_producto }}</td>
                <td>{{ producto.precio_producto }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.nombre_restaurante }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'login' %}"><button>Salir</button></a>
</body>
</html>
